doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title BookReview
  link(rel='stylesheet' href='/css/styles.css')
  script(type='text/javascript' src='/js/scripts.js')
body
    header
      nav.navbar
        ul
          li
            a(href="/")
              img.logo(src="images/icon2.png", alt="our logo")
          li
              a(href="/review") All reviews 
          li
              a(href="/review/create") Add review
      .home
        .homeDetails
          h1 Welcome to BookReview application
          h2 This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service
          a.BtnHome.BtnNew(href="/review/create") Create New Review
          a.BtnHome.BtnAll(href="/review") View All Reviews