doctype html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title #{title}
        link(rel='stylesheet' href='/css/styles.css')
        script(type='text/javascript' src='/js/scripts.js')
    body 
        h1 401 Unauthorized 
        p You cannot access this page
        a(href="/login") Login



